<h1>Reactive Form</h1>

<hr>

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="saveForm()">

  <div class="container">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu nombre" formControlName="nombre"
          [class.is-invalid]="nombreInvalido">
        <small class="form-text text-danger" *ngIf="nombreInvalido">El nombre debe tener al menos 3 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu apellido" formControlName="apellido" required
          [class.is-invalid]="apellidoInvalido">
        <small class="form-text text-danger" *ngIf="apellidoInvalido">Indica un apellido</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Email</label>
      <div class="col-8">
        <input class="form-control" type="email" placeholder="Escribe tu email" formControlName="email"
          [class.is-invalid]="emailInvalido">
        <small class="form-text text-danger" *ngIf="emailInvalido">Introduzca un email correcto</small>
      </div>
    </div>

    <!-- formGroupName="direccion" ATENTO AL formGroupName -->
    <div class="form-group row" formGroupName="direccion">
      <label class="col-2 col-form-label">Dirección</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu calle" formControlName="calle"
          [class.is-invalid]="calleInvalido">
      </div>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu ciudad" formControlName="ciudad"
          [class.is-invalid]="ciudadInvalido">
      </div>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Escribe tu pais" formControlName="pais"
          [class.is-invalid]="paisInvalido">
      </div>
    </div>

    <div class="form-group row">
      <button type="submit" class="btn btn-block btn-primary">Enviar</button>
    </div>
  </div>

</form>
